<app-navbar></app-navbar>
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">À propos de nous</h1>
            <li class="list-inline-item"><a href="index" class="text-white">Accueil</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">A propos</a></li>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color">Soins personnels pour votre vie saine</h2>
			</div>
			<div class="col-lg-8">
				<p>La douleur elle-même est beaucoup de douleur Ils se produisent en raison d'autres difficultés. La vie est douleur et responsabilité ! Mais souvent en faisant n'importe quoi, les conséquences se produisent, qui sont celles qui sont les plus dignes de critiquer, en libre choix.</p>
			</div>
		</div>
	</div>
</section>

<section class="fetaure-page ">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="assets/images/about/about-1.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Soins de santé pour les enfants</h4>
					<p>J'ouvrirai avec plaisir que nous pouvons au mieux contrer tout ce qui nous accuse.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="assets/images/about/about-2.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Consultation médicale</h4>
					<p>J'ouvrirai avec plaisir que nous pouvons au mieux contrer tout ce qui nous accuse.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="assets/images/about/about-3.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Équipements modernes</h4>
					<p>J'ouvrirai avec plaisir que nous pouvons au mieux contrer tout ce qui nous accuse.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item">
					<img src="assets/images/about/about-4.jpg" alt="" class="img-fluid w-100">
					<h4 class="mt-3">Médecins qualifiés</h4>
					<p>J'ouvrirai avec plaisir que nous pouvons au mieux contrer tout ce qui nous accuse.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section awards">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<h2 class="title-color">Les réalisations de nos docteurs </h2>
				<div class="divider mt-4 mb-5 mb-lg-0"></div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/3.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/4.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/1.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/2.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/5.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="assets/images/about/6.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">Ce qu'ils disent de nous</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Service incroyable!</h4>
					</div>
					<p>
            Ils offrent une grande facilité de service. En conséquence, il entreprend de plein droit l'affaire des présents, et s'enfuit pour plaire au grand homme qui les apaise ou les obtient. Certaines difficultés nous arriveront, et aucun de nous ne réussira jamais.
					</p>
					<i class="icofont-quote-right"></i>

				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Médecins experts !</h4>
					</div>
					<p>
						Ils offrent une grande facilité de service. En conséquence, il entreprend de plein droit l'affaire des présents, et s'enfuit pour plaire au grand homme qui les apaise ou les obtient. Certaines difficultés nous arriveront, et aucun de nous ne réussira jamais.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Bon soutien !</h4>
					</div>
					<p>
						Ils offrent une grande facilité de service. En conséquence, il entreprend de plein droit l'affaire des présents, et s'enfuit pour plaire au grand homme qui les apaise ou les obtient. Certaines difficultés nous arriveront, et aucun de nous ne réussira jamais.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Bon environnement!</h4>
					</div>
					<p>
            Ils offrent une grande facilité de service. En conséquence, il entreprend de plein droit l'affaire des présents, et s'enfuit pour plaire au grand homme qui les apaise ou les obtient. Certaines difficultés nous arriveront, et aucun de nous ne réussira jamais.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Modern Service!</h4>
					</div>
					<p>
            Ils offrent une grande facilité de service. En conséquence, il entreprend de plein droit l'affaire des présents, et s'enfuit pour plaire au grand homme qui les apaise ou les obtient. Certaines difficultés nous arriveront, et aucun de nous ne réussira jamais.
					</p>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
