<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="assets/images/logo.png" alt="" class="img-fluid" style="border-radius: 8px;width: 180px;height: 180px;">
					</div>
					<p>TéléCare – La télémédecine pour lutter contre le manque de médecins. Votre santé, notre priorité.
            Nous proposons un accompagnement au plus près du terrain pour accélérer la transformation du numérique en santé avec les acteurs de l'écosystème de la e-santé en région.
					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Accueil</h4>
					<div class="divider mb-4"></div>
				</div>

        <div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">A propos</h4>
					<div class="divider mb-4"></div>
				</div>
        <div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Services</h4>
					<div class="divider mb-4"></div>
				</div>
        <div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Docteurs</h4>
					<div class="divider mb-4"></div>
				</div>
        <div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Contact</h4>
					<div class="divider mb-4"></div>
				</div>
        <div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Se connecter</h4>
					<div class="divider mb-4"></div>
				</div>

			</div>

			<div class="col-lg-3 mr-5 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Entrer en contact</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Assistance disponible 24h/24 et 7j/7</span>
						</div>
						<h4 class="mt-2"><a href="">teleCare@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Du lundi au vendredi : 08h30 - 18h00</span>
						</div>
						<h4 class="mt-2"><a href="">+216-50-772-809</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">

				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Votre adresse e-mail" >
							<a href="#" class="btn btn-main-2 btn-round-full" style="background-color: #E12454;color: white; border-radius: 12px;">S'abonner</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
