<app-navbar></app-navbar>
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Notre spécialités</h1>
            <li class="list-inline-item"><a href="index" class="text-white">Accueil</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Spécialités</a></li>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="assets/images/service/service-1.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Pédiatrie et Néonatologie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="assets/images/service/service-2.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Médecine Générale</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="assets/images/service/service-3.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Imagerie médicale</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="assets/images/service/service-4.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Anesthésie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="assets/images/service/service-6.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Pharmacie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="assets/images/service/service-8.jpg" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Chirurgie générale</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section service-2">
	<div class="container">
		<div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img src="assets/images/service/service-10.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médecine dentaire</h4>
          </div>
        </div>
      </div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
          <img src="assets/images/service/service-11.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Obstétrique-gynécologie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
				  <img src="assets/images/service/service-12.jpg" alt="" class="img-fluid">
            <div class="content">
             <h4 class="mt-4 mb-2 title-color">Ophtalmologie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-13.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Psychiatrie et Pédopsychiatrie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-14.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médecine plastique reconstructrice et esthétique</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-15.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Oto-rhino-laryngologie (O.R.L)</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
          <img src="assets/images/service/service-20.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médécine orthopédique et traumatologie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
          <img src="assets/images/service/service-16.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médecine urologique</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
				  <img src="assets/images/service/service-9.jpg" alt="" class="img-fluid">
            <div class="content">
               <h4 class="mt-4 mb-2 title-color">Médecine interne</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-17.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Rhumatologie</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-18.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médecine cardiaque</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
          <img src="assets/images/service/service-19.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color">Médecine thoracic</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
    <img src="assets/images/service/service-7.jpg" alt="" class="img-fluid">
    <div class="content">
      <h4 class="mt-4 mb-2 title-color">Urgences</h4>
    </div>
  </div>
</div>
</div>
</div>
</section>


<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">Nous avons le plaisir de vous offrir la  <span class="title-color">chance d'avoir la santé</span></h2>
          <a type="button" class="btn btn-primary" style="color: white;background-color: #223A66; border-radius: 12px;">Obtenir un rendez-vous</a>
        </div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
