<app-navbar></app-navbar>
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Services docteurs</h1>

            <li class="list-inline-item"><a href="index" class="text-white">Accueil</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Docteurs</a></li>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	  <div class="row justify-content-center">
             <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Docteurs</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Nous fournissons une large gamme de services de remises créatives. Mais le plus important, c'est le genre de chose qui compte, et le plaisir. Les services du bienheureux ne sont pas </p>
                </div>
            </div>
        </div>

        <div class="col-12 text-center  mb-5">
	        <div class="btn-group btn-group-toggle " data-toggle="buttons">
	          <label class="btn active ">
	            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Pédiatrie et Néonatologie
	          </label>
	          <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat1" />Médecine Générale
	          </label>
	          <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat2" />Imagerie médicale
	          </label>
	          <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat3" />Anesthésie
	          </label>
	          <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat4" />Pharmacie
	          </label>
	           <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat5" />Chirurgie générale
	          </label>
	          <label class="btn">
	            <input type="radio" name="shuffle-filter" value="cat6" />Médecine dentaire
	          </label>
	        </div>
      </div>


      <div class="col-12 text-center  mb-5">
        <div class="btn-group btn-group-toggle " data-toggle="buttons">
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="all" />Obstétrique-gynécologie
          </label>
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat7" />Ophtalmologie
          </label>
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat8" />Psychiatrie et Pédopsychiatrie
          </label>
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat9" />Médecine plastique reconstructrice et esthétique
          </label>
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat10" />Oto-rhino-laryngologie (O.R.L)
          </label>
           <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat11" />Médécine orthopédique et traumatologie
          </label>
          <label class="btn">
            <input type="radio" name="shuffle-filter" value="cat12" />Médecine urologique
          </label>
        </div>
    </div>


    <div class="col-12 text-center  mb-5">
      <div class="btn-group btn-group-toggle " data-toggle="buttons">
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="all" />Médecine interne
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat7" />Rhumatologie
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat8" />Médecine cardiaque
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat9" />Médecine thoracic
        </label>
      </div>
  </div>
    <div class="row shuffle-wrapper portfolio-gallery">
      	<div class="col-xs-1 col-md-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
	               		<img src="assets/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="doctor-single.html">
                 <img src="assets/images/icon3.png" style="width: 28px;" >  Thomas Henry</a></h4>
                 <h5>  <img src="assets/images/icon5.png" style="width: 28px;" >    Cardiology</h5>
                <h5><img src="assets/images/icon2.png" style="width: 35px;" >Lieu</h5>
                <h5><img src="assets/images/icon4.png" style="width: 28px;" >  60 dt</h5>
                <button class="btn btn-primary" type="submit" style="background-color: #223A66;border-radius: 12px;">Voir le profil</button>
                <button class="btn btn-primary" style="background-color: #223A66; border-radius: 12px;" type="submit">Téléconsulter</button>
                </div>
	      	</div>
      	</div>

      	<div class="col-xs-1 col-md-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
	               		<img src="assets/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="doctor-single.html">
                 <img src="assets/images/icon3.png" style="width: 28px;" >  Thomas Henry</a></h4>
                 <h5>  <img src="assets/images/icon5.png" style="width: 28px;" >    Cardiology</h5>
                <h5><img src="assets/images/icon2.png" style="width: 35px;" >Lieu</h5>
                <h5><img src="assets/images/icon4.png" style="width: 28px;" >  60 dt</h5>
                <button class="btn btn-primary" type="submit" style="background-color: #223A66;border-radius: 12px;">Voir le profil</button>
                <button class="btn btn-primary" style="background-color: #223A66; border-radius: 12px;" type="submit">Téléconsulter</button>
                </div>
	      	</div>
      	</div>

      	<div class="col-xs-1 col-md-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
	               		<img src="assets/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="doctor-single.html">
                 <img src="assets/images/icon3.png" style="width: 28px;" >  Thomas Henry</a></h4>
                 <h5>  <img src="assets/images/icon5.png" style="width: 28px;" >    Cardiology</h5>
                <h5><img src="assets/images/icon2.png" style="width: 35px;" >Lieu</h5>
                <h5><img src="assets/images/icon4.png" style="width: 28px;" >  60 dt</h5>
                <button class="btn btn-primary" type="submit" style="background-color: #223A66;border-radius: 12px;">Voir le profil</button>
                 <button class="btn btn-primary" style="background-color: #223A66; border-radius: 12px;" type="submit">Téléconsulter</button>
                </div>
	      	</div>
      	</div>


    </div>
  </div>
</section>

<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">Nous avons le plaisir de vous offrir la  <span class="title-color">chance d'avoir la santé</span></h2>
          <a type="button" class="btn btn-primary" style="color: white;background-color: #223A66; border-radius: 12px;">Obtenir un rendez-vous</a>
        </div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>
